.SingInDiv {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BackgroundImg {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  box-sizing: border-box;
}
.InputDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.dsdsd {
    display: flex;
    width: 100%;
    justify-content: center;
}
.sdsds {
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.SignInLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    margin-bottom: 2%;
}
.logo_boxzz {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;

}
.thisImg {
    width: 150px;
}
.SingIn_Input {
  width: 650px;
  height: 60px;
  background: #47b5ff;
  margin-top: 30px;
  border: none;
  border-bottom: 4px solid #1363df;
  border-radius: 8px;
  font-size: 30px;
  outline: none;
  padding-left: 10px;
  color: #000000;
}

.signInButton {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7.5%;
    width: 400px;
}
.InputDiv_ButtomYuborish {
  width: 400px;
  height: 60px;
  background: #06283d;
  border-radius: 16px;
  color: rgba(71, 181, 255, 1);
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 400;
}
.InputDiv_H3 {
    margin-top: 20px;
    font-size: 20px;
  margin-left: 40px;
  text-align: center;
}
