.card_comp {
  width: 20%;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 40px;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
}
.container_comp {
	text-align: center;
}
.datiki {
	margin: 10px 0px;
}
.batik {
	display: flex;
	justify-content: center;
	
}
.butichk {
	margin: 20px;
	display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  width: 154px;
  height: 36px;
  border-radius: 100px;
  border: none;
	background-color: rgb(241, 58, 58);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}