.img_karusel{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 13px 13px 15px -3px rgba(157, 158, 159, 0.61);
-moz-box-shadow: 13px 13px 15px -3px rgba(157, 158, 159, 0.61);
box-shadow: 13px 13px 15px -3px rgba(157, 158, 159, 0.61);

}

.slider_width{
    padding: 20px;
    background-color: #ffffff;
   width: 1400px;
   margin: 30px;
    margin-bottom: 50px;
   height: 250px;
}
.ortaga_opchiq{
    display: flex;
    justify-content: center;
}

.slick-arrow {
    cursor: none;
}

.slider_img_box {
    width:100px;
    background-color: #ffffff;
    padding: 0px 20px;
    height: 250px;
}