.img_karusel{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 10px;
    padding: 0 !important;
    -webkit-box-shadow: 13px 13px 15px -3px rgba(157, 158, 159, 0.61);
-moz-box-shadow: 13px 13px 15px -3px rgba(157, 158, 159, 0.61);
box-shadow: 13px 13px 15px -3px rgba(157, 158, 159, 0.61);
    text-align: center;
}

.slider_width{
    background-color: #ffffff;
   width: 80%;
   margin: 30px;
    margin-bottom: 50px;
   height: 250px;
}
.ortaga_opchiq{
    display: flex;
    justify-content: center;
}

.slick-arrow {
    cursor: none;
}
.slider_text {
    display: flex;
    justify-content: center;
    align-items: center;
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1%;
} 
.slider_img_box {
    width: 100px;
    background-color: #ffffff;
    padding: 0px 20px;
    height: 250px;
    outline: none;
}
@media only screen and (max-width: 1030px) {
    .slider_img_box {
        height: 200px;
    }
    .img_karusel {
        height: 120px;
    }
    .slick-slider {
        height: 150px;
    }
  }
  @media only screen and (max-width: 600px) {
    .slider_img_box {
        height: 120px;
    }
    .img_karusel {
        height: 80px;
        width: 70px;
    }
    .slick-slider {
        height: 120px;
    }
  }