.course_top_text {
    margin-top: 50px;
}
.courses_container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.courses {
    gap: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.another {
    margin: 0 auto;
    padding: 20px 0;

    border-bottom: 10px solid var(--orange);
    border-top: 10px solid var(--orange);
    border-radius: 10px;

    font-size: 40px;
}

.middle{
    width: 100%;
    display: flex;
    justify-content: center;
}


.father_filter{
    display: flex;
    width: 600px;
    justify-content: space-around;
}