.course_top_text {
  margin-top: 50px;
}
.courses_container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.courses {
  gap: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.another {
  margin: 0 auto;
  padding: 20px 0;

  border-bottom: 10px solid var(--orange);
  border-top: 10px solid var(--orange);
  border-radius: 10px;

  font-size: 40px;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.father_filter {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px;
  gap: 10px;
}
.course-filter-button {
  width: 160px;
  height: 50px;
  border: none;
  background: #fff;
  border-radius: 50px;
  color: black;
  font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    
  -webkit-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  transition: 0.2s;
  &:active {
    background: #47B5FF;
    color: white;
    
  }
}


// .active, .course-filter-button:hover {
  
// }