.course_top_text {
  margin-top: 50px;
}
.courses_container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.courses {
  gap: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.another {
  margin: 0 auto;
  padding: 20px 0;

  border-bottom: 10px solid var(--orange);
  border-top: 10px solid var(--orange);
  border-radius: 10px;

  font-size: 40px;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.father_filter {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 50px;
  gap: 10px;
}
.course-filter-button {
  width: 160px;
  height: 50px;
  border: none;
  background: #fff;
  border-radius: 50px;
  color: black;
  font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    
  -webkit-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  transition: 0.2s;
  &:active {
    background: #47B5FF;
    color: white;
    
  }
}

.course {
  box-sizing: border-box;
  width: 1200px;
}
.course_container {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
}
.course_box {
  width: 190px;
}
.b1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.b2 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}
.b3 .academy_container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.grade_star {
  margin-right: 10%;
}
.b3 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}
.b4 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
}
.time_img {
  margin-right: 8px;
}
.course_time {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 150px;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.detalyi {
  margin-left: 5%;
  
}

.b5 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.course_button {
  width: 154px;
  height: 36px;
  border-radius: 100px;
  border: none;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.cb1 {
  background: #47B5FF;
  color: white;
}
.cb2 {
  background: white;
  border: 1px solid #2b2b2b;
  border-radius: 100px;
}
.cb3 {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 24px;
  /* identical to box height, or 240% */

  text-align: center;
  background-color: #fff;
  color: #8c8c8c;
}

.course_name{
  width: 200px;
  height: 150px;
  border-radius: 8px;
   -webkit-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
}
.academy_name{
  width: 150px;
  text-align: center;
  font-size: 20px;
}
.course_price{
  width: 150px;
  text-align: center;
  font-size: 20px;
}
.course_price2{
  
}
