
  /* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap'); */


*{
    margin: 0;
    padding: 0;
}


.Footer{
    width: 100%;
    background-color: black;
    padding: 10px;
    padding-top: 35px;
}

.father_categorias{
    color: #A6A6A6;
    font-weight: 200;
    
}

.glav_p{
    color: white;
    font-size: 24px;
  font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.Footer_bootom{
  height: 80px;
    display: flex;
    color:  white;
    justify-content: center;
    align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.logo_foot{
    font-size: 25px;
    
  font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
    width: 55px;
    padding: 0 !important;
    /* width: 55px; */
    filter: invert(1);
}


.border_bor{
   display: flex;
   justify-content: space-between;
   width: 80%;
}

.Footer2{
    width: 100%;
    background-color: black;
    border-top: 2px solid rgb(45, 44, 44);
    padding: 7px;
}

.img_logo{
    width: 15px;
    object-fit: cover;

}
.roww {
  display: flex;
}