.Cabinet {
    width: 98vw;
    height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    font-family: 'Montserrat';
}

.Cabinet__LeftNavbar {
    width: 20vw;
    height: 100vh;
    background-color: #47B5FF;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Data {
    width: 18vw;
    height: 70px;
    margin-left: 31px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Text_NavBar {
    margin-left: 5px;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
}

.Cabinet__LeftNavbar__Data:hover {
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.Cabinet__LeftNavbar__Data__Active {
    width: 18vw;
    height: 70px;
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 31px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Data__Active h3 {
    margin-left: 15px;
    margin-top: 3px;
}


.Cabinet__LeftNavbar__Courses {
    width: 18vw;
    height: 70px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Courses h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Courses:hover {
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}


.Cabinet__LeftNavbar__Courses__Active {
    width: 18vw;
    height: 70px;
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Courses__Active h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Additions {
    width: 18vw;
    height: 70px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Additions h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Additions:hover {
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.Cabinet__LeftNavbar__Additions__Active {
    width: 18vw;
    height: 70px;
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Additions__Active h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Settings {
    width: 18vw;
    height: 70px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Settings h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Settings:hover {
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.Cabinet__LeftNavbar__Settings__Active {
    width: 18vw;
    height: 70px;
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Settings__Active h3 {
    margin-left: 15px;
    margin-top: 3px;
}


.Cabinet__LeftNavbar__line {
    width: 20vw;
    height: 4px;
    background-color: white;
    margin-top: 40px;
}



.Cabinet__RightContent {
    width: 80vw;
    height: 100vh;
}

.Cabinet__RightContent__Data_Dani {
    width: 98%;
    height: 100%;
    box-sizing: border-box;
}

.leave_room {
    margin-top: 30px;
    color: red;
    font-weight: 700;
    font-family: 'Montserrat';
    cursor: "pointer";
}

.input_change_syn {
    width: 250px;
    height: 40px;
    background: #06283d;
    border-radius: 16px;
    color: rgba(71, 181, 255, 1);
    font-size: 25px;
    margin-top: 50px;
}

.div_Btn_Syn {
    display: flex;
    width: 75%;
    justify-content: center;
}

.text_profile {
    font-weight: 700;
    margin-top: 30px;
    font-size: 30px;
}

.Cabinet__RightContent__Data_Dani__Img {
    width: 250px;
    font-family: 'Montserrat';
    width: auto;
    height: 100px;
    margin-left: 100px;
    display: flex;
    gap: 2%;
    font-weight: 900;
    margin-top: 30px;
    display: flex;
}

.Cabinet__RightContent__Data_Dani__Input {
    width: 70%;
    height: 82%;
    padding: 40px 100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.Course_Add {
    font-family: "Montserrat", sans-serif;
    width: 85%;
    height: 170px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #ffffff;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
    transition: 0.5s;
    margin-top: 15px;
    margin-left: 60px;
}