.Cabinet {
    width: 98vw;
    height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    font-family: 'Montserrat';
}

.Cabinet__LeftNavbar {
    width: 20vw;
    height: 100vh;
    background-color: #47B5FF;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Data {
    width: 18vw;
    height: 70px;
    margin-left: 31px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Text_NavBar {
    margin-left: 5px;
    margin-top: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
}

.Cabinet__LeftNavbar__Data:hover {
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.Cabinet__LeftNavbar__Data__Active {
    width: 18vw;
    height: 70px;
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 31px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Data__Active h3 {
    margin-left: 15px;
    margin-top: 3px;
}


.Cabinet__LeftNavbar__Courses {
    width: 18vw;
    height: 70px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Courses h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Courses:hover {
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}


.Cabinet__LeftNavbar__Courses__Active {
    width: 18vw;
    height: 70px;
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Courses__Active h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Additions {
    width: 18vw;
    height: 70px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Additions h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Additions:hover {
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.Cabinet__LeftNavbar__Additions__Active {
    width: 18vw;
    height: 70px;
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Additions__Active h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Settings {
    width: 18vw;
    height: 70px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Settings h3 {
    margin-left: 15px;
    margin-top: 3px;
}

.Cabinet__LeftNavbar__Settings:hover {
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.Cabinet__LeftNavbar__Settings__Active {
    width: 18vw;
    height: 70px;
    background-color: white;
    color: #47B5FF;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
    padding-left: 40px;
    box-sizing: border-box;
}

.Cabinet__LeftNavbar__Settings__Active h3 {
    margin-left: 15px;
    margin-top: 3px;
}


.Cabinet__LeftNavbar__line {
    width: 20vw;
    height: 4px;
    background-color: white;
    margin-top: 40px;
}



.Cabinet__RightContent {
    width: 45vw;
    height: 100vh;
}

.Cabinet__RightContent__Data_Dani {
    width: 98%;
    height: 100%;
    box-sizing: border-box;
}

.leave_room {
    margin-top: 30px;
    color: red;
    font-weight: 700;
    font-family: 'Montserrat';
    cursor: "pointer";
}

.input_change_syn {
    width: 200px;
    height: 40px;
    background: #06283d;
    border-radius: 16px;
    color: rgba(71, 181, 255, 1);
    font-size: 25px;
    margin-top: 50px;
    margin-right: 10px;
}

.input_change_syn_red {
    width: 200px;
    height: 40px;
    background: #f70202;
    border-radius: 16px;
    color: rgb(251, 251, 252);
    font-size: 20px;
    margin-top: 50px;
    border: none;
}

.div_Btn_Syn {
    display: flex;
    width: 600px;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 155px;
}

.text_profile {
    font-weight: 700;
    margin-top: 30px;
    font-size: 30px;
}

.Cabinet__RightContent__Data_Dani__Img {
    width: 250px;
    font-family: 'Montserrat';
    width: auto;
    height: 100px;
    margin-left: 100px;
    display: flex;
    gap: 2%;
    font-weight: 900;
    margin-top: 30px;
    display: flex;
}

.Cabinet__RightContent__Data_Dani__Input {
    width: 70%;
    height: 82%;
    padding: 40px 100px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.Course_Add {
    font-family: "Montserrat", sans-serif;
    width: 85%;
    height: 170px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #ffffff;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 11px -4px rgba(0, 0, 0, 0.61);
    transition: 0.5s;
    margin-top: 15px;
    margin-left: 60px;
}

.UserIcon {
    font-size: 100px;
}

.InputDanni {
    width: 300px;
}




.InputDanni2 {
    width: 300px;
    position: absolute;
    top: -95px;
    left: 310px;
}

.InputDanni3 {
    width: 300px;
    margin-top: -110px !important;
}

.InputDanni4 {
    width: 300px;
    position: absolute;
    left: 310px;
    top: -155px;
}

.InputDanni5 {
    width: 300px;
    position: absolute;
    top: -150px;
}

.InputDanni6 {
    width: 300px;
    position: absolute;
    left: 310px;
    top: -243px;
}

.Password_Open {
    position: absolute;
    left: 670px;
    top: 135px;
    font-size: 18px;
}

.Password_Closed {
    position: absolute;
    left: 670px;
    top: 135px;
    font-size: 18px;
}



.Edit_Input1 {
    width: 400px !important;
    margin-left: 250px !important;
    margin-top: 0px !important;
}

.Edit_Input1_Icon {
    position: absolute;
    top: 140px;
    left: 930px;
    font-size: 25px;
}

.Edit_Input2 {
    width: 400px !important;
    margin-left: 250px !important;
    margin-top: 50px !important;
}

.Edit_Input2_Icon {
    position: absolute;
    top: 240px;
    left: 930px;
    font-size: 25px;
}

.Edit_Input3 {
    width: 400px !important;
    margin-left: 250px !important;
    margin-top: 50px !important;
}

.Edit_Input3_Icon {
    position: absolute;
    top: 340px;
    left: 930px;
    font-size: 25px;
}

.Edit_Input4 {
    width: 400px;
    margin-left: 250px;
    margin-top: 50px;
    border: none;
    height: 50px;
    border-bottom: 1px solid black;
    outline: none;
}

.Edit_Input5 {
    width: 400px !important;
    margin-left: 250px !important;
    margin-top: 50px !important;
}

.Edit_Input5_Icon {
    position: absolute;
    top: 538px;
    left: 930px;
    font-size: 25px;
}

.Edit_Input5_eye_Open {
    position: absolute;
    top: 530px;
    left: 900px;
    font-size: 23px;
}

.Edit_Input5_eye_Closed {
    position: absolute;
    top: 530px;
    left: 900px;
    font-size: 23px;
}

@media only screen and (max-width: 992px) {
    .Cabinet__LeftNavbar {
        width: 150px;
    }

    .Cabinet__LeftNavbar__Data__Active {
        width: 230px;
        margin-left: -30px;
    }

    .Cabinet__LeftNavbar__Data {
        width: 230px;
        margin-left: -30px;
    }

    .Cabinet__LeftNavbar__Courses__Active {
        width: 230px;
        margin-left: -30px;
    }

    .Cabinet__LeftNavbar__Courses {
        width: 230px;
        margin-left: -30px;
    }

    .Cabinet__LeftNavbar__Additions__Active {
        width: 230px;
        margin-left: -30px;
    }

    .Cabinet__LeftNavbar__Additions {
        width: 230px;
        margin-left: -30px;
    }

    .Cabinet__LeftNavbar__Settings__Active {
        width: 230px;
        margin-left: -30px;
    }

    .Cabinet__LeftNavbar__Settings {
        width: 230px;
        margin-left: -30px;
    }

    .Cabinet__LeftNavbar__line {
        width: 200px;
    }

    .Text_NavBar {
        font-size: 15px;
    }

    .UserIcon {
        font-size: 38px;
        margin-left: 15px;
    }

    .InputDanni {
        width: 200px;
        margin-left: -10px !important;
    }

    .InputDanni2 {
        width: 200px;
        margin-left: -10px !important;
        margin-top: -80px !important;
    }

    .InputDanni3 {
        width: 200px;
        margin-left: -10px !important;
        margin-top: -100px !important;
    }

    .InputDanni4 {
        width: 200px;
        margin-left: -10px !important;
        margin-top: -130px !important;
    }

    .InputDanni5 {
        width: 200px;
        margin-left: -10px !important;
        margin-top: -140px !important;
    }

    .InputDanni6 {
        width: 200px;
        margin-left: -10px !important;
        margin-top: -160px !important;
    }

    .Password_Open {
        position: absolute;
        top: 255px;
        right: 17px;
        font-size: 18px;
    }

    .Password_Closed {
        position: absolute;
        top: 255px;
        right: 17px;
        font-size: 18px;
    }

    .Cabinet__RightContent__Data_Dani__Input {
        width: 50vw;
        text-align: center;
        padding: 0px 0px 0px 30px;
        display: flex;
    }

    .Cabinet__RightContent__Data_Dani__Img {
        width: 50vw;
        margin-left: -1px;
    }


    .Edit_Input1 {
        width: 220px !important;
        margin-left: 20px !important;
        margin-top: 0px !important;
    }

    .Edit_Input1_Icon {
        position: absolute;
        top: 180px;
        left: 360px;
        font-size: 25px;
    }

    .Edit_Input2 {
        width: 220px !important;
        margin-left: 20px !important;
        margin-top: 50px !important;
    }

    .Edit_Input2_Icon {
        position: absolute;
        top: 300px;
        left: 360px;
        font-size: 25px;
    }

    .Edit_Input3 {
        width: 220px !important;
        margin-left: 20px !important;
        margin-top: 50px !important;
    }

    .Edit_Input3_Icon {
        position: absolute;
        top: 423px;
        left: 360px;
        font-size: 25px;
    }

    .Edit_Input4 {
        width: 220px !important;
        margin-left: 20px !important;
        margin-top: 50px;
        border: none;
        height: 50px;
        border-bottom: 1px solid black;
        outline: none;
    }

    .Edit_Input5 {
        width: 220px !important;
        margin-left: 20px !important;
        margin-top: 50px !important;
    }

    .Edit_Input5_Icon {
        position: absolute;
        top: 648px;
        left: 360px;
        font-size: 25px;
    }

    .Edit_Input5_eye_Open {
        position: absolute;
        top: 640px;
        left: 330px;
        font-size: 23px;
    }

    .Edit_Input5_eye_Closed {
        position: absolute;
        top: 570px;
        left: 340px;
        font-size: 23px
    }


    .div_Btn_Syn {
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin-left: 30px;
    }

    .input_change_syn {
        width: 600px;
        height: 40px;
        background: #06283d;
        border-radius: 16px;
        color: rgba(71, 181, 255, 1);
        font-size: 25px;
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 15px;
    }

    .input_change_syn_red {
        width: 600px;
        height: 40px;
        background: #f70202;
        border-radius: 16px;
        color: rgb(251, 251, 252);
        font-size: 20px;
        margin-top: 10px;
        border: none;
    }

    .InputDanni2 {
        width: 300px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .InputDanni3 {
        width: 300px;
        margin-top: -100px !important;
    }

    .InputDanni4 {
        width: 300px;
        position: absolute;
        top: 0px;
        left: 0;
    }

    .InputDanni5 {
        width: 300px;
        margin-top: 0px !important;
    }

    .InputDanni6 {
        width: 300px;
        position: absolute;
        top: -50px;
        left: 0;
    }

    .Password_Open {
        position: absolute;
        top:231px;
        left: 180px;
        font-size: 18px;
    }

    .Password_Closed {
        position: absolute;
        top:231px;
        left: 180px;
        font-size: 18px;
    }

}

@media only screen and (max-width:992px) {}